version: "3.9"
services:
  bakery-gateway:
    container_name: gateway
    depends_on:
      - "bakery-front"
      - "workbench-front"
      - "bakery-back"
    image: cruibakeryonprem.azurecr.io/cloud/gateway:latest
    ports:
      - "${UI_BAKERY_PORT:-3030}:3030"

  bakery-front:
    container_name: bakery-front
    image: cruibakeryonprem.azurecr.io/cloud/bakery-front:latest
    environment:
      - UI_BAKERY_ENV_NAME=${UI_BAKERY_ENV_NAME:-selfhosted}
      - UI_BAKERY_APP_PRODUCTION=${UI_BAKERY_APP_PRODUCTION:-true}
      - UI_BAKERY_APP_SERVER_NAME=${UI_BAKERY_APP_SERVER_NAME:-http://localhost:3030}
      - UI_BAKERY_WORKBENCH_PATH=${UI_BAKERY_WORKBENCH_PATH:-/workbench}
      - UI_BAKERY_APP_LANDING_PATH=${UI_BAKERY_APP_LANDING_PATH:-http://localhost:3030}
      - UI_BAKERY_GOOGLE_CLIENT_ID=${UI_BAKERY_GOOGLE_CLIENT_ID:-}
      - UI_BAKERY_EMAIL_AUTH_ENABLED=${UI_BAKERY_EMAIL_AUTH_ENABLED:-true}
      - UI_BAKERY_SAML_ENABLED=${UI_BAKERY_SAML_ENABLED:-false}
      - UI_BAKERY_AUTH_COLLECT_DATA=${UI_BAKERY_AUTH_COLLECT_DATA:-false}
      - UI_BAKERY_SAML_LOGIN_AUTO=${UI_BAKERY_SAML_LOGIN_AUTO:-false}
      - UI_BAKERY_AUTH_RESTRICTED_DOMAIN=${UI_BAKERY_AUTH_RESTRICTED_DOMAIN-}
      - UI_BAKERY_GSHEET_CLIENT_ID=${UI_BAKERY_GSHEET_CLIENT_ID:-UI_BAKERY_GSHEET_CLIENT_ID}
      - UI_BAKERY_SALESFORCE_CLIENT_ID=${UI_BAKERY_SALESFORCE_CLIENT_ID:-UI_BAKERY_SALESFORCE_CLIENT_ID}
      - UI_BAKERY_AZURE_CONTAINER_PREFIX=${UI_BAKERY_AZURE_CONTAINER_PREFIX:-UI_BAKERY_AZURE_CONTAINER_PREFIX}
      - UI_BAKERY_SSH_PUBLIC_KEY=${UI_BAKERY_SSH_PUBLIC_KEY:-UI_BAKERY_SSH_PUBLIC_KEY}
      - UI_BAKERY_APP_STRIPE_KEY=${UI_BAKERY_APP_STRIPE_KEY:-UI_BAKERY_APP_STRIPE_KEY}
      - UI_BAKERY_SENTRY_ENABLED=${UI_BAKERY_SENTRY_ENABLED:-false}
      - UI_BAKERY_ONBOARDING_URL=${UI_BAKERY_ONBOARDING_URL:-}
      - SENTRY_DSN=${SENTRY_DSN:-SENTRY_DSN}
      - UI_BAKERY_GTM=${UI_BAKERY_GTM:-}
      - UI_BAKERY_ANALYTICS_LOGS_ENABLED=${UI_BAKERY_ANALYTICS_LOGS_ENABLED:-false}
      - UI_BAKERY_GTM_NO_SCRIPT=${UI_BAKERY_GTM_NO_SCRIPT:-}
      - UI_BAKERY_OUTBOUND_IP_ADDRESSES=${UI_BAKERY_OUTBOUND_IP_ADDRESSES:-['0.0.0.0']}
      - UI_BAKERY_REGISTER_URL=${UI_BAKERY_REGISTER_URL:-register}
      - UI_BAKERY_CHECKOUT_URL_WITH_PRICING_V1=${UI_BAKERY_CHECKOUT_URL_WITH_PRICING_V1:-}
      - UI_BAKERY_CHECKOUT_URL_WITH_PRICING_V2=${UI_BAKERY_CHECKOUT_URL_WITH_PRICING_V2:-}
      - UI_BAKERY_ORGANIZATION_MENU_ENABLED=${UI_BAKERY_ORGANIZATION_MENU_ENABLED:-true}
      - UI_BAKERY_INITIAL_PROJECT_TEMPLATE_ID=${UI_BAKERY_INITIAL_PROJECT_TEMPLATE_ID:-Grida9s8ejga9s}
      - UI_BAKERY_INITIAL_PROJECT_TEMPLATE_NAME=${UI_BAKERY_INITIAL_PROJECT_TEMPLATE_NAME:-Blank}
      - UI_BAKERY_APP_TITLE=${UI_BAKERY_APP_TITLE:-UI Bakery}
      - UI_BAKERY_BRANDING_FAVICON=${UI_BAKERY_BRANDING_FAVICON:-}
      - UI_BAKERY_BRANDING_LOGO_URL=${UI_BAKERY_BRANDING_LOGO_URL:-}
      - UI_BAKERY_BRANDING_MENU_LOGO_URL=${UI_BAKERY_BRANDING_MENU_LOGO_URL:-}
      - UI_BAKERY_BRANDING_AUTH_BACKGROUND_URL=${UI_BAKERY_BRANDING_AUTH_BACKGROUND_URL:-}
      - UI_BAKERY_BRANDING_AUTH_HEADER_STYLES=${UI_BAKERY_BRANDING_AUTH_HEADER_STYLES:-}
      - UI_BAKERY_BRANDING_AUTH_GOOGLE_BTN_STYLES=${UI_BAKERY_BRANDING_AUTH_GOOGLE_BTN_STYLES:-}
      - UI_BAKERY_BRANDING_AUTH_CARD_STYLES=${UI_BAKERY_BRANDING_AUTH_CARD_STYLES:-}
      - UI_BAKERY_BRANDING_AUTH_LOGO_STYLES=${UI_BAKERY_BRANDING_AUTH_LOGO_STYLES:-}
      - UI_BAKERY_BRANDING_LOADER=${UI_BAKERY_BRANDING_LOADER:-}
      - UI_BAKERY_BRANDING_LOADER_STYLES=${UI_BAKERY_BRANDING_LOADER_STYLES:-}
      - UI_BAKERY_BRANDING_AUTH_SSO_BTN_STYLES=${UI_BAKERY_BRANDING_AUTH_SSO_BTN_STYLES:-}
      - UI_BAKERY_BRANDING_AUTH_SSO_BTN_ICON=${UI_BAKERY_BRANDING_AUTH_SSO_BTN_ICON:-}
      - UI_BAKERY_BRANDING_AUTH_SSO_BTN_ICON_STYLES=${UI_BAKERY_BRANDING_AUTH_SSO_BTN_ICON_STYLES:-}
      - UI_BAKERY_INTRO_VIDEO_URL=${UI_BAKERY_INTRO_VIDEO_URL:-https://uibakery.io/intro}
      - UI_BAKERY_CHECKOUT_URL_CONTACT_TEAM=${UI_BAKERY_CHECKOUT_URL_CONTACT_TEAM:-https://uibakery.io/change-onprem-subscription}
      - UI_BAKERY_BRANDING_AUTH_FORGOT_PASSWORD_LINK_HIDDEN=${UI_BAKERY_BRANDING_AUTH_FORGOT_PASSWORD_LINK_HIDDEN:-false}
      - UI_BAKERY_BRANDING_AUTH_SIGN_UP_LINK_HIDDEN=${UI_BAKERY_BRANDING_AUTH_SIGN_UP_LINK_HIDDEN:-false}
      - UI_BAKERY_BRANDING_AUTH_SSO_BTN_TEXT=${UI_BAKERY_BRANDING_AUTH_SSO_BTN_TEXT:-}

  workbench-front:
    container_name: workbench-front
    image: cruibakeryonprem.azurecr.io/cloud/workbench-front:latest
    environment:
      - UI_BAKERY_APP_PRODUCTION=${UI_BAKERY_APP_PRODUCTION:-true}
      - SENTRY_DSN=${SENTRY_DSN:-SENTRY_DSN}
      - UI_BAKERY_SENTRY_ENABLED=${UI_BAKERY_SENTRY_ENABLED:-false}
      - UI_BAKERY_ANALYTICS_LOGS_ENABLED=${UI_BAKERY_ANALYTICS_LOGS_ENABLED:-false}

  datasource:
    container_name: datasource
    image: cruibakeryonprem.azurecr.io/cloud/datasource:latest
    environment:
      - UI_BAKERY_SSH_TUNNEL_USER=${UI_BAKERY_SSH_TUNNEL_USER:-}
      - UI_BAKERY_SSH_TUNNEL_PASSWORD=${UI_BAKERY_SSH_TUNNEL_PASSWORD:-}
      - UI_BAKERY_SSH_TUNNEL_KEY=${UI_BAKERY_SSH_TUNNEL_KEY:-}
      - UI_BAKERY_DATASOURCE_TIMEOUT=${UI_BAKERY_DATASOURCE_TIMEOUT:-90000}
      - UI_BAKERY_ENV_NAME=${UI_BAKERY_ENV_NAME:-selfhosted}

  bakery-back:
    container_name: bakery-back
    image: cruibakeryonprem.azurecr.io/cloud/bakery-back:latest
    environment:
      - UI_BAKERY_DB_HOST=${UI_BAKERY_DB_HOST:-db}
      - UI_BAKERY_DB_PORT=${UI_BAKERY_DB_PORT:-3306}
      - UI_BAKERY_DB_DATABASE=${UI_BAKERY_DB_DATABASE:-bakery}
      - UI_BAKERY_DB_USERNAME=${UI_BAKERY_DB_USERNAME:-bakery}
      - UI_BAKERY_DB_PASSWORD=${UI_BAKERY_DB_PASSWORD:-bakery}
      - UI_BAKERY_DB_POOL_SIZE=${UI_BAKERY_DB_POOL_SIZE:-100}
      - UI_BAKERY_JWT_SECRET=${UI_BAKERY_JWT_SECRET:-1fptp3ep8CFehEF63D2z12bBNOEDo71VLRbokwzZ88}
      - UI_BAKERY_JWT_SERVICE_ACCOUNT_SECRET=${UI_BAKERY_JWT_SERVICE_ACCOUNT_SECRET:-aoisejg98asjegma89sejga9s8egmas89egjas98ejgas98egjzsoie}
      - UI_BAKERY_JWT_ACCESS_TOKEN_EXPIRATION=${UI_BAKERY_JWT_ACCESS_TOKEN_EXPIRATION:-3600000}
      - UI_BAKERY_JWT_REFRESH_SECRET=${UI_BAKERY_JWT_REFRESH_SECRET:-4VAmhJSHe86u2idBI56wH5H8uIoCUIQBL2feWOdDNQ}
      - UI_BAKERY_JWT_REFRESH_TOKEN_EXPIRATION=${UI_BAKERY_JWT_REFRESH_TOKEN_EXPIRATION:-2592000000}
      - UI_BAKERY_EMAIL_AUTH_ENABLED=${UI_BAKERY_EMAIL_AUTH_ENABLED:-true}
      - UI_BAKERY_ROLE_MAPPING=${UI_BAKERY_ROLE_MAPPING:-}
      - UI_BAKERY_SAML_METADATA_URL=${UI_BAKERY_SAML_METADATA_URL:-}
      - UI_BAKERY_SAML_ENTITY_ID=${UI_BAKERY_SAML_ENTITY_ID:-}
      - UI_BAKERY_SAML_NAME_CLAIM=${UI_BAKERY_SAML_NAME_CLAIM:-name}
      - UI_BAKERY_SAML_ROLE_CLAIM=${UI_BAKERY_SAML_ROLE_CLAIM:-role}
      - UI_BAKERY_SAML_ENABLED=${UI_BAKERY_SAML_ENABLED:-false}
      - UI_BAKERY_GOOGLE_CLIENT_ID=${UI_BAKERY_GOOGLE_CLIENT_ID:-}
      - UI_BAKERY_AUTH_RESTRICTED_DOMAIN=${UI_BAKERY_AUTH_RESTRICTED_DOMAIN-}
      - UI_BAKERY_APP_CLIENT_URL=${UI_BAKERY_APP_CLIENT_URL:-http://localhost:3030}
      - UI_BAKERY_GSHEET_CLIENT_ID=${UI_BAKERY_GSHEET_CLIENT_ID:-UI_BAKERY_GSHEET_CLIENT_ID}
      - UI_BAKERY_GSHEET_CLIENT_SECRET=${UI_BAKERY_GSHEET_CLIENT_SECRET:-UI_BAKERY_GSHEET_CLIENT_SECRET}
      - UI_BAKERY_SALESFORCE_CLIENT_ID=${UI_BAKERY_SALESFORCE_CLIENT_ID:-UI_BAKERY_SALESFORCE_CLIENT_ID}
      - UI_BAKERY_SALESFORCE_CLIENT_SECRET=${UI_BAKERY_SALESFORCE_CLIENT_SECRET:-UI_BAKERY_SALESFORCE_CLIENT_SECRET}
      - UI_BAKERY_SENTRY_ENABLED=${UI_BAKERY_SENTRY_ENABLED:-false}
      - SENTRY_DSN=${SENTRY_DSN:-SENTRY_DSN}
      - UI_BAKERY_APP_SERVER_NAME=${UI_BAKERY_APP_SERVER_NAME:-http://localhost:3030}
      - UI_BAKERY_DATASOURCE_URL=${UI_BAKERY_DATASOURCE_URL:-http://datasource:6060}
      - UI_BAKERY_DATASOURCE_STATIC_IP_URL=${UI_BAKERY_DATASOURCE_STATIC_IP_URL:-http://datasource:6060}
      - UI_BAKERY_AZURE_BLOB_STORAGE_CONNECTION_STRING=${UI_BAKERY_AZURE_BLOB_STORAGE_CONNECTION_STRING:-UI_BAKERY_AZURE_BLOB_STORAGE_CONNECTION_STRING}
      - UI_BAKERY_AZURE_CONTAINER_NAME=${UI_BAKERY_AZURE_CONTAINER_NAME:-UI_BAKERY_AZURE_CONTAINER_NAME}
      - UI_BAKERY_AZURE_CONTAINER_PREFIX=${UI_BAKERY_AZURE_CONTAINER_PREFIX:-UI_BAKERY_AZURE_CONTAINER_PREFIX}
      - UI_BAKERY_AZURE_STORAGE=${UI_BAKERY_AZURE_STORAGE:-UI_BAKERY_AZURE_STORAGE}
      - UI_BAKERY_LICENSE_KEY=${UI_BAKERY_LICENSE_KEY:-UI_BAKERY_LICENSE_KEY}
      - UI_BAKERY_BILLING_ENABLED=${UI_BAKERY_BILLING_ENABLED:-false}
      - UI_BAKERY_MAILING_PROVIDER=${UI_BAKERY_MAILING_PROVIDER:-noop}
      - UI_BAKERY_MAILING_TEMPLATES_MODE=${UI_BAKERY_MAILING_TEMPLATES_MODE:-custom}
      - SENDGRID_API_KEY=${SENDGRID_API_KEY:-}
      - SENDGRID_EMAIL_FROM=${SENDGRID_EMAIL_FROM:-admin@uibakery.io}
      - SENDGRID_NAME_FROM=${SENDGRID_NAME_FROM:-Admin}
      - SENDGRID_SYSTEM_EMAIL_FROM=${SENDGRID_SYSTEM_EMAIL_FROM:-admin@uibakery.io}
      - SENDGRID_SYSTEM_NAME_FROM=${SENDGRID_SYSTEM_NAME_FROM:-Admin}
      - SEND_IN_BLUE_API_KEY=${SEND_IN_BLUE_API_KEY:-}
      - UI_BAKERY_MAILING_WELCOME_TEMPLATE=${UI_BAKERY_MAILING_WELCOME_TEMPLATE:-Hello userName,<br> Welcome to UI Bakery workspace.}
      - UI_BAKERY_MAILING_WELCOME_SUBJECT=${UI_BAKERY_MAILING_WELCOME_SUBJECT:-Welcome to UI Bakery workspace}
      - UI_BAKERY_MAILING_RESET_PASSWORD_TEMPLATE=${UI_BAKERY_MAILING_RESET_PASSWORD_TEMPLATE:-Hello userName,<br> Here's your <a href="resetPasswordUrl">password reset link</a>.}
      - UI_BAKERY_MAILING_RESET_PASSWORD_SUBJECT=${UI_BAKERY_MAILING_RESET_PASSWORD_SUBJECT:-Reset password request}
      - UI_BAKERY_MAILING_CONFIRM_EMAIL_CHANGE_TEMPLATE=${UI_BAKERY_MAILING_CONFIRM_EMAIL_CHANGE_TEMPLATE:-Hello userName,<br> Here's a link <a href="changeEmailUrl">to change your email</a>.}
      - UI_BAKERY_MAILING_CONFIRM_EMAIL_CHANGE_SUBJECT=${UI_BAKERY_MAILING_CONFIRM_EMAIL_CHANGE_SUBJECT:-Change email request}
      - UI_BAKERY_MAILING_SHARE_WITH_USER_TEMPLATE=${UI_BAKERY_MAILING_SHARE_WITH_USER_TEMPLATE:-Hello,<br> userName invited you to <a href="organizationUrl">organizationName workspace</a>.}
      - UI_BAKERY_MAILING_SHARE_WITH_USER_SUBJECT=${UI_BAKERY_MAILING_SHARE_WITH_USER_SUBJECT:-You are invited to UI Bakery workspace}
      - UI_BAKERY_MAILING_JOIN_COMMUNITY_TEMPLATE=${UI_BAKERY_MAILING_JOIN_COMMUNITY_TEMPLATE:-not-used-for-now}
      - UI_BAKERY_MAILING_JOIN_COMMUNITY_SUBJECT=${UI_BAKERY_MAILING_JOIN_COMMUNITY_SUBJECT:-not-used-for-now}
      - UI_BAKERY_WORKBENCH_PATH=${UI_BAKERY_WORKBENCH_PATH:-/workbench}
      - UI_BAKERY_ENV_NAME=${UI_BAKERY_ENV_NAME:-selfhosted}
      - UI_BAKERY_STRIPE_API_KEY=${UI_BAKERY_STRIPE_API_KEY:-}
      - UI_BAKERY_PAINTER_URL=${UI_BAKERY_PAINTER_URL:-}
      - UI_BAKERY_CREDENTIALS_SECRET=${UI_BAKERY_CREDENTIALS_SECRET:-^dQV3XSo9s%5d;saUsF$zx<QEuCLXwSJ}
      - UI_BAKERY_STRIPE_SUBSCRIPTION_DELETED_HOOK=${UI_BAKERY_STRIPE_SUBSCRIPTION_DELETED_HOOK:-}
      - UI_BAKERY_STRIPE_PAYMENT_SUCCEEDED_HOOK=${UI_BAKERY_STRIPE_PAYMENT_SUCCEEDED_HOOK:-}
      - UI_BAKERY_STRIPE_PAYMENT_FAILED_HOOK=${UI_BAKERY_STRIPE_PAYMENT_FAILED_HOOK:-}
      - UI_BAKERY_STRIPE_CHARGE_REFUNDED_HOOK=${UI_BAKERY_STRIPE_CHARGE_REFUNDED_HOOK:-}
      - UI_BAKERY_STRIPE_PLAN_TEMPLATE_MONTHLY=${UI_BAKERY_STRIPE_PLAN_TEMPLATE_MONTHLY:-}
      - UI_BAKERY_STRIPE_PLAN_TEMPLATE_ANNUALLY=${UI_BAKERY_STRIPE_PLAN_TEMPLATE_ANNUALLY:-}
      - UI_BAKERY_STRIPE_PLAN_LIGHT_MONTHLY=${UI_BAKERY_STRIPE_PLAN_LIGHT_MONTHLY:-}
      - UI_BAKERY_STRIPE_PLAN_LIGHT_ANNUALLY=${UI_BAKERY_STRIPE_PLAN_LIGHT_ANNUALLY:-}
      - UI_BAKERY_STRIPE_PLAN_STANDARD_MONTHLY=${UI_BAKERY_STRIPE_PLAN_STANDARD_MONTHLY:-}
      - UI_BAKERY_STRIPE_PLAN_STANDARD_ANNUALLY=${UI_BAKERY_STRIPE_PLAN_STANDARD_ANNUALLY:-}
      - UI_BAKERY_STRIPE_PLAN_LIGHT_DEPRECATED_MONTHLY=${UI_BAKERY_STRIPE_PLAN_LIGHT_DEPRECATED_MONTHLY:-}
      - UI_BAKERY_STRIPE_PLAN_PLAN_STANDARD_DEPRECATED_MONTHLY=${UI_BAKERY_STRIPE_PLAN_PLAN_STANDARD_DEPRECATED_MONTHLY:-}
      - UI_BAKERY_STRIPE_PLAN_PLAN_STANDARD_DEPRECATED2_MONTHLY=${UI_BAKERY_STRIPE_PLAN_PLAN_STANDARD_DEPRECATED2_MONTHLY:-}
      - UI_BAKERY_STRIPE_SESSION_COMPLETED_HOOK=${UI_BAKERY_STRIPE_SESSION_COMPLETED_HOOK:-}
      - UI_BAKERY_STRIPE_PLAN_MVP_MONTHLY=${UI_BAKERY_STRIPE_PLAN_MVP_MONTHLY:-}
      - UI_BAKERY_STRIPE_PLAN_MVP_ANNUALLY=${UI_BAKERY_STRIPE_PLAN_MVP_ANNUALLY:-}
      - UI_BAKERY_STRIPE_PLAN_STARTUP_MONTHLY=${UI_BAKERY_STRIPE_PLAN_STARTUP_MONTHLY:-}
      - UI_BAKERY_STRIPE_PLAN_STARTUP_ANNUALLY=${UI_BAKERY_STRIPE_PLAN_STARTUP_ANNUALLY:-}
      - V1_UI_BAKERY_STRIPE_PLAN_ESSENTIAL=${V1_UI_BAKERY_STRIPE_PLAN_ESSENTIAL:-}
      - V1_UI_BAKERY_STRIPE_PLAN_BUSINESS=${V1_UI_BAKERY_STRIPE_PLAN_BUSINESS:-}
      - V1_UI_BAKERY_STRIPE_PLAN_STARTUPS=${V1_UI_BAKERY_STRIPE_PLAN_STARTUPS:-}
      - V1_UI_BAKERY_STRIPE_PLAN_START=${V1_UI_BAKERY_STRIPE_PLAN_START:-}
      - V2_UI_BAKERY_STRIPE_PLAN_INDIVIDUAL=${V2_UI_BAKERY_STRIPE_PLAN_INDIVIDUAL:-}
      - V2_UI_BAKERY_STRIPE_PLAN_PLUS=${V2_UI_BAKERY_STRIPE_PLAN_PLUS:-}
      - V2_UI_BAKERY_STRIPE_PLAN_TEAM=${V2_UI_BAKERY_STRIPE_PLAN_TEAM:-}
      - V2_UI_BAKERY_STRIPE_PRICE_WORKSPACE_USER=${V2_UI_BAKERY_STRIPE_PRICE_WORKSPACE_USER:-}
      - UI_BAKERY_AMPLITUDE_KEY=${UI_BAKERY_AMPLITUDE_KEY:-}
      - UI_BAKERY_SINGLE_ORGANIZATION=${UI_BAKERY_SINGLE_ORGANIZATION:-false}
      - UI_BAKERY_USER_ACTIVITY_ENDPOINT=${UI_BAKERY_USER_ACTIVITY_ENDPOINT:-}
      - UI_BAKERY_ANALYTICS_LOGS_ENABLED=${UI_BAKERY_ANALYTICS_LOGS_ENABLED:-false}
      - UI_BAKERY_ORGANIZATION_MENU_ENABLED=${UI_BAKERY_ORGANIZATION_MENU_ENABLED:-true}
      - UI_BAKERY_DATASOURCE_TIMEOUT=${UI_BAKERY_DATASOURCE_TIMEOUT:-90000}
      - UI_BAKERY_AUTOMATION_TIMEOUT=${UI_BAKERY_AUTOMATION_TIMEOUT:-90000}
      - UI_BAKERY_DATASOURCE_MAX_SIZE=${UI_BAKERY_DATASOURCE_MAX_SIZE:-50000000}
      - UI_BAKERY_AUTOMATION_URL=${UI_BAKERY_AUTOMATION_URL:-http://automation:4000}
      - UI_BAKERY_TRIAL_DOWNGRADE_JOB_CRON=${UI_BAKERY_TRIAL_DOWNGRADE_JOB_CRON:-0 */10 * * * *}
      - UI_BAKERY_UPDATE_NUMBER_OF_USERS_IN_ORGANIZATION_JOB_CRON=${UI_BAKERY_UPDATE_NUMBER_OF_USERS_IN_ORGANIZATION_JOB_CRON:-0 */10 * * * *}

  automation:
    container_name: automation
    image: cruibakeryonprem.azurecr.io/cloud/automation:latest
    environment:
      - UI_BAKERY_APP_SERVER_NAME=${UI_BAKERY_APP_SERVER_NAME:-http://bakery-gateway:3030}
      - UI_BAKERY_AUTOMATION_CODE_EXECUTION_TIMEOUT=${UI_BAKERY_AUTOMATION_CODE_EXECUTION_TIMEOUT:-30000}
