version: "3.9"
services:
  bakery-gateway:
    container_name: gateway
    depends_on:
      - "bakery-front"
      - "workbench-front"
      - "bakery-back"
    image: cruibakeryonprem.azurecr.io/cloud/gateway:latest
    restart: always
    env_file: .env
    ports:
      - "${UI_BAKERY_PORT:-3030}:3030"

  bakery-front:
    container_name: bakery-front
    image: cruibakeryonprem.azurecr.io/cloud/bakery-front:latest
    restart: always
    env_file: .env

  workbench-front:
    container_name: workbench-front
    image: cruibakeryonprem.azurecr.io/cloud/workbench-front:latest
    restart: always
    env_file: .env

  datasource:
    container_name: datasource
    image: cruibakeryonprem.azurecr.io/cloud/datasource:latest
    restart: always
    env_file: .env

  bakery-back:
    container_name: bakery-back
    depends_on:
      db:
        condition: service_healthy
    image: cruibakeryonprem.azurecr.io/cloud/bakery-back:latest
    restart: always
    env_file: .env

  automation:
    container_name: automation
    image: cruibakeryonprem.azurecr.io/cloud/automation:latest
    restart: always
    env_file: .env
    
  python-runtime:
    container_name: python-runtime
    image: cruibakeryonprem.azurecr.io/cloud/python-runtime:latest
    restart: always
    env_file: .env

  db:
    platform: linux/amd64
    container_name: db
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password  --skip-log-bin
    restart: always
    cap_add:
      - SYS_NICE # CAP_SYS_NICE
    environment:
      MYSQL_DATABASE: "bakery"
      MYSQL_USER: "bakery"
      MYSQL_PASSWORD: "bakery"
      MYSQL_ROOT_PASSWORD: "root"
    volumes:
      - my-db:/var/lib/mysql
    healthcheck:
      test: mysql -h localhost -u bakery --password=bakery -e "select 1";
      timeout: 1s
      interval: 10s
      retries: 10

volumes:
  my-db:
