apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui-bakery-datasource
  namespace: ui-bakery
spec:
  selector:
    matchLabels:
      app: ui-bakery-datasource
  template:
    metadata:
      labels:
        app: ui-bakery-datasource
    spec:
      containers:
      - name: ui-bakery-datasource
        image: cruibakeryonprem.azurecr.io/cloud/datasource:v.2.27.0-rc
        envFrom:
          - configMapRef:
              name: ui-bakery-configmap
        resources:
          requests:
            memory: "256Mi"
            cpu: "500m"
          limits:
            memory: "512Mi"
            cpu: "900m"
        ports:
          - containerPort: 6060
---
apiVersion: v1
kind: Service
metadata:
  name: datasource
  namespace: ui-bakery
spec:
  type: ClusterIP
  selector:
    app: ui-bakery-datasource
  ports:
  - port: 6060
    targetPort: 6060
