apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui-bakery-python-runtime
  namespace: ui-bakery
spec:
  selector:
    matchLabels:
      app: ui-bakery-python-runtime
  template:
    metadata:
      labels:
        app: ui-bakery-python-runtime
    spec:
      containers:
      - name: ui-bakery-python-runtime
        image: cruibakeryonprem.azurecr.io/cloud/python-runtime:latest
        envFrom:
          - configMapRef:
              name: ui-bakery-configmap
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
        livenessProbe:
          httpGet:
            path: /status
            port: 5050
          initialDelaySeconds: 1
          periodSeconds: 30
        ports:
          - containerPort: 5050
---
apiVersion: v1
kind: Service
metadata:
  name: python-runtime
  namespace: ui-bakery
spec:
  type: ClusterIP
  selector:
    app: ui-bakery-python-runtime
  ports:
  - port: 5050
    targetPort: 5050
